header, main, footer {
  padding-left: 400px;
}

    html {
    font-family: GillSans, Calibri, Trebuchet !important, sans-serif  ;
  }
        
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.accion{
    background-color: transparent;
    color: black;
    box-shadow: none;
}

.accion:hover{
    background-color: gray;
}

.menu-btn{
    position: fixed;
    top: 40%;
    left: -20px;
    padding: 4em 0em 4em 0.8em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
}

.menu-txt{  
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  font-weight: 500;
  z-index: 1500;
}

.drag-target{
    width: 0px;
}

.rellenomenu{
height: 40px;
}
