/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);*/

body {
  background-size: cover;
  background-position: center;
  font-family: "logintech";
}

@font-face {
  font-family: "logintech";
  src: url("../fonts/roboto/Roboto-Light.eot") format("embedded-opentype"),
  /*src: url("Roboto-Regular.eot?#logintech") format("embedded-opentype"),*/
    url("../fonts/roboto/Roboto-Light.woff") format("woff"),
    url("../fonts/roboto/Roboto-Light.ttf") format("truetype"),
    url("../fonts/roboto/Roboto-Light.svg#logintech") format("svg");
}

input:focus, input:active, button:focus, button:active, .btn:focus, .btn:active {
  box-shadow: none;
  outline: none;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
